spinner, #spinner {
	bottom: 0;
	color: rgb(88, 32, 242);
	font-size: 60px;
	height: 60px;
	left: 132px;
	margin: auto;
	position: absolute;
	right: 0;
	top: 0;
	width: 60px;
  	z-index: 1001;
}